<select onchange="window.open(this.options[this.selectedIndex].value)">
{{#links}}
  <option value="redoc/{{ bu }}{{ version }}-api-reference.html">{{ bu_pretty }} REST API ({{ version }})</a>
{{/links}}
</select>
