<table cols=3>
<tr>
  <th>Flash Array</th>
  <th>Flash Blade</th>
  <th>Pure1</th>
</tr>
{{# lines }}
  <tr>
  {{# rows }}
    <td><a href="redoc/{{ filename }}">{{ bu_pretty }} REST API ({{ version }})</td>
  {{/rows}}
  </tr>
{{/lines}}
</table>
