<select onchange="window.open(this.options[this.selectedIndex].value)">
  <option value="redoc/fb2.0-api-reference.html">FlashBlade REST API (2.0)</a>
  <option value="redoc/fb2.1-api-reference.html">FlashBlade REST API (2.1)</a>
  <option value="redoc/fb2.2-api-reference.html">FlashBlade REST API (2.2)</a>
  <option value="redoc/fb2.3-api-reference.html">FlashBlade REST API (2.3)</a>
  <option value="redoc/fb2.4-api-reference.html">FlashBlade REST API (2.4)</a>
  <option value="redoc/fb2.5-api-reference.html">FlashBlade REST API (2.5)</a>
  <option value="redoc/fb2.6-api-reference.html">FlashBlade REST API (2.6)</a>
  <option value="redoc/fb2.7-api-reference.html">FlashBlade REST API (2.7)</a>
  <option value="redoc/fb2.8-api-reference.html">FlashBlade REST API (2.8)</a>
  <option value="redoc/fb2.9-api-reference.html">FlashBlade REST API (2.9)</a>
  <option value="redoc/fb2.10-api-reference.html">FlashBlade REST API (2.10)</a>
  <option value="redoc/fb2.11-api-reference.html">FlashBlade REST API (2.11)</a>
  <option value="redoc/fb2.12-api-reference.html">FlashBlade REST API (2.12)</a>
  <option value="redoc/fb2.13-api-reference.html">FlashBlade REST API (2.13)</a>
  <option value="redoc/fb2.14-api-reference.html">FlashBlade REST API (2.14)</a>
  <option value="redoc/fb2.15-api-reference.html">FlashBlade REST API (2.15)</a>
  <option value="redoc/fb2.16-api-reference.html">FlashBlade REST API (2.16)</a>
  <option value="redoc/fb2.17-api-reference.html">FlashBlade REST API (2.17)</a>
</select>
