  <tr>
    <td><a href="redoc/fa2.0-api-reference.html">fa2.0-api-reference.html</a></td>
    <td><a href="redoc/fb2.0-api-reference.html">fb2.0-api-reference.html</a></td>
    <td><a href="redoc/pure1-1.0-api-reference.html">pure1-1.0-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.1-api-reference.html">fa2.1-api-reference.html</a></td>
    <td><a href="redoc/fb2.1-api-reference.html">fb2.1-api-reference.html</a></td>
    <td><a href="redoc/pure1-1.1-api-reference.html">pure1-1.1-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.2-api-reference.html">fa2.2-api-reference.html</a></td>
    <td><a href="redoc/fb2.2-api-reference.html">fb2.2-api-reference.html</a></td>
    <td><a href="redoc/pure1-1.2-api-reference.html">pure1-1.2-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.3-api-reference.html">fa2.3-api-reference.html</a></td>
    <td><a href="redoc/fb2.3-api-reference.html">fb2.3-api-reference.html</a></td>
    <td><a href="redoc/pure1-1.3-api-reference.html">pure1-1.3-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.4-api-reference.html">fa2.4-api-reference.html</a></td>
    <td><a href="redoc/fb2.4-api-reference.html">fb2.4-api-reference.html</a></td>
    <td><a href="redoc/pure1-1.4-api-reference.html">pure1-1.4-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.5-api-reference.html">fa2.5-api-reference.html</a></td>
    <td><a href="redoc/fb2.5-api-reference.html">fb2.5-api-reference.html</a></td>
    <td><a href="redoc/pure1-1.5-api-reference.html">pure1-1.5-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.6-api-reference.html">fa2.6-api-reference.html</a></td>
    <td><a href="redoc/fb2.6-api-reference.html">fb2.6-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.7-api-reference.html">fa2.7-api-reference.html</a></td>
    <td><a href="redoc/fb2.7-api-reference.html">fb2.7-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.8-api-reference.html">fa2.8-api-reference.html</a></td>
    <td><a href="redoc/fb2.8-api-reference.html">fb2.8-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.9-api-reference.html">fa2.9-api-reference.html</a></td>
    <td><a href="redoc/fb2.9-api-reference.html">fb2.9-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.10-api-reference.html">fa2.10-api-reference.html</a></td>
    <td><a href="redoc/fb2.10-api-reference.html">fb2.10-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.11-api-reference.html">fa2.11-api-reference.html</a></td>
    <td><a href="redoc/fb2.11-api-reference.html">fb2.11-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.13-api-reference.html">fa2.13-api-reference.html</a></td>
    <td><a href="redoc/fb2.12-api-reference.html">fb2.12-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.14-api-reference.html">fa2.14-api-reference.html</a></td>
    <td><a href="redoc/fb2.13-api-reference.html">fb2.13-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.15-api-reference.html">fa2.15-api-reference.html</a></td>
    <td><a href="redoc/fb2.14-api-reference.html">fb2.14-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.16-api-reference.html">fa2.16-api-reference.html</a></td>
    <td><a href="redoc/fb2.15-api-reference.html">fb2.15-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.17-api-reference.html">fa2.17-api-reference.html</a></td>
    <td><a href="redoc/fb2.16-api-reference.html">fb2.16-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.19-api-reference.html">fa2.19-api-reference.html</a></td>
    <td><a href="redoc/fb2.17-api-reference.html">fb2.17-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.20-api-reference.html">fa2.20-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.21-api-reference.html">fa2.21-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.22-api-reference.html">fa2.22-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.23-api-reference.html">fa2.23-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.24-api-reference.html">fa2.24-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.25-api-reference.html">fa2.25-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.26-api-reference.html">fa2.26-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.27-api-reference.html">fa2.27-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.28-api-reference.html">fa2.28-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.29-api-reference.html">fa2.29-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.30-api-reference.html">fa2.30-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.31-api-reference.html">fa2.31-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.32-api-reference.html">fa2.32-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.33-api-reference.html">fa2.33-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.34-api-reference.html">fa2.34-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.35-api-reference.html">fa2.35-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.36-api-reference.html">fa2.36-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.37-api-reference.html">fa2.37-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.38-api-reference.html">fa2.38-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.39-api-reference.html">fa2.39-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.40-api-reference.html">fa2.40-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.41-api-reference.html">fa2.41-api-reference.html</a></td>
  </tr>
  <tr>
    <td><a href="redoc/fa2.42-api-reference.html">fa2.42-api-reference.html</a></td>
  </tr>
